@using MegaCinemaWeb.Models;
@model IEnumerable<FilmViewModel>

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    ViewBag.Title = "Home | Hệ thống bán vé rạp chiếu phim Megastar";
    ViewBag.FeatureTitle = "";
}

<!-- ROW 1 -->
<div class="row mega-content">
    <!--LEFT-->
    <div class="col-lg-9" style="margin-right: -29px;">
        <div class="bxslider" style="width: auto; position: relative;">

            @{
                foreach (var item in (IEnumerable<AdsBannerViewModel>)ViewData["AdsBanner"])
                {
                    <div>
                        <a href="#">
                            <img src="@Url.Content("~/Content/AdsBanner/")@item.AdsDescription" />
                        </a>
                        <div class="links-produce-slide">
                            <a class="product-zoom open-popup" data-youtube-id="Sk5-eC0CZrY" href="javascript:void(0)" title=""></a>
                            <div class="digital-group">
                                <div class='digital-item'><span class='dt-xd'>2D</span><span class='dt-cus'>digital</span></div>
                            </div>
                            <div class="detail-tickets-link">
                                <a href="/phim/cho-em-gan-anh-them-chut-nua/"><span> Chi tiết</span></a>
                                <a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA">
                                    <span> Mua Vé</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div><!--END LEFT-->
    <!--RIGHT-->
    <div class="col-lg-3">
        <div class="slide-right">
            <div class="slide-text" style="width: 100%;">
                <div class="title-slide-right">
                    <h3>Mua vé Online</h3>
                </div>
                <div class="slide-right">
                    <div class="content-slide-right">
                        <div class="form_selected_slide">
                            <div class="customselectBox click_box_1">
                                <span class="selected">MEGA GS CAO THẮNG</span>
                                <div class="selectOptions" style="display: none">
                                    <div class="bg-opacity">
                                        <span class="selectOption">MEGA GS CAO THẮNG</span>
                                        <span class="selectOption">MEGA GS Quận 8</span>
                                        <span class="selectOption">MEGA GS Phú Yên</span>
                                        <span class="selectOption">MEGA GS Quảng Bình</span>
                                        <span class="selectOption">MEGA GS Bình Thuận</span>
                                    </div>
                                </div>
                                <i class="icon-down"></i>
                            </div>
                            <div class="customselectBox click_box_2">
                                <span class="selected" strmv="">Chọn phim</span>
                                <div class="selectOptions" style="display: none">
                                    <div class="bg-opacity">
                                        <!-- <div class="group_lists"></div> -->
                                        <span class="selectOption">Cô giáo thảo 18+</span>
                                        <span class="selectOption">Ni cô chải tóc bên bờ suối</span>
                                        <span class="selectOption">Những cô gái tầng 11</span>
                                        <span class="selectOption">Cao ốc ảo diệu</span>
                                        <span class="selectOption">Số phận diệu kỳ</span>
                                    </div>
                                </div>
                                <i class="icon-down"></i>
                            </div>
                            <div class="customselectBox click_box_3">
                                <!--Content trong "Chọn ngày"-->
                                <span class="selected">Chọn ngày</span>
                                <div class="selectOptions" style="display: none">
                                    <div class="bg-opacity">
                                        <p class="title">SINH VẬT HUYỀN BÍ VÀ NƠI TÌM RA CHÚNG - 2D SUB/ PHỤ ĐỀ</p>
                                        <div class="date-item">
                                            <p>Hôm nay: Đéo chiếu!!!</p>
                                        </div>
                                        <div class="date-item">
                                            <p>Ngày mai (2-12)</p>
                                            <div class="cust_padd_left">
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32666" onclick="bookingClick(this)">11:00</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32667" onclick="bookingClick(this)">12:50</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32668" onclick="bookingClick(this)">14:40</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32669" onclick="bookingClick(this)">16:30</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32670" onclick="bookingClick(this)">18:20</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32696" onclick="bookingClick(this)">20:10</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32697" onclick="bookingClick(this)">22:00</span></a>
                                            </div>
                                        </div>
                                        <div class="date-item">
                                            <p>Ngày mốt (3-12)</p>
                                            <div class="cust_padd_left">
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32726" onclick="bookingClick(this)">9:10</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32727" onclick="bookingClick(this)">11:00</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32728" onclick="bookingClick(this)">12:50</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32729" onclick="bookingClick(this)">14:40</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32730" onclick="bookingClick(this)">16:30</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32731" onclick="bookingClick(this)">18:20</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32732" onclick="bookingClick(this)">20:10</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32733" onclick="bookingClick(this)">22:00</span></a>
                                            </div>
                                        </div>
                                        <div class="date-item">
                                            <p>Chủ nhật (4-12)</p>
                                            <div class="cust_padd_left">
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32775" onclick="bookingClick(this)">9:10</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32776" onclick="bookingClick(this)">11:00</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32777" onclick="bookingClick(this)">12:50</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32778" onclick="bookingClick(this)">14:40</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32779" onclick="bookingClick(this)">16:30</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32780" onclick="bookingClick(this)">18:20</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32781" onclick="bookingClick(this)">20:10</span></a>
                                                <a href="javascript:void(0)" class="check-booking"><span class="selectOption custom-time" namemv="FANTASTIC BEASTS AND WHERE TO FIND THEM" submv="2D" txtsessionid="32782" onclick="bookingClick(this)">22:00</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--END-Content trong "Chọn ngày"-->
                                <i class="icon-down"></i>
                            </div>
                            <div class="note-label">
                                <label><i>(*)</i>Chọn vào suất chiếu để đặt vé trực tuyến</label>
                            </div>
                            <div class="bg-close-selectbox" style="display: none"></div>
                        </div>
                        <p><span>Hỗ trợ khách hàng: </span>08 62649911</p>
                        <p>cskh@megags.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--RIGHT-->

</div> <!-- END - ROW 1 -->
<!-- ROW 2 -->
<div class="row mega-content" style="margin-left: 20px;">
    <!-- Tab Product -->
    <div class="tab-product">
        <ul class="nav nav-tabs">
            <li class="active">
                <a class="pads" data-toggle="tab" href="#movie-dc">
                    <img src="~/Assets/images/home/item-movie-dc.png" />
                    <span class="span-tab">Phim Đang Chiếu</span>
                </a>
            </li>
            <li>
                <a class="pads" data-toggle="tab" href="#movie-sc">
                    <img src="~/Assets/images/home/item-movie-sc.png" />
                    <span class="span-tab">Phim Sắp Chiếu</span>
                </a>
            </li>
            <li>
                <a class="pads" data-toggle="tab" href="#movie-scdb">
                    <img src="~/Assets/images/home/item-movie-scdb.png" />
                    <span class="span-tab">Suất Chiếu Đặc Biệt</span>
                </a>
            </li>
        </ul>
        <!-- Tab Contents Product -->
        <div class="tab-content">
            <!-- PHIM ĐANG CHIẾU -->
            <div id="movie-dc" class="tab-pane fade in active">
                <div class="autoplay">
                    @{
                        foreach (var item in Model)
                        {
                            <div class="product-items">
                                <a href="javascript:;">
                                    <div class="icon-hot" style="display: block">
                                        <img src="~/Assets/images/home/item-hot.png" />
                                    </div>
                                    <div class="episode-all" style="display: block">
                                        <p>16</p>
                                        <p class="custom-p">12</p>
                                    </div>
                                    <img class="bg-new-only" alt="@item.FilmName" src="~/Content/FilmPoster/@item.FilmPoster" style="width: 240px; height: 355px" />
                                </a>
                                <!-- Link Product -->
                                <div class="links-produce">
                                    <!-- zoom image-->
                                    <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                    <!-- Title product item-->
                                    <div class="title-product-item">
                                        <span>@item.FilmName</span>
                                        <br />
                                        <span style="font-size: 11px;">
                                            @item.FilmName
                                        </span>
                                    </div>
                                    <!-- Detail link-->
                                    <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                    <!-- tickets link-->
                                    <div class="tickets-link" style="display: block"><a href="@Url.Action("FilmSessionDetail","Booking",new {id = @item.FilmID})"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <!-- PHIM SẮP CHIẾU -->
            <div id="movie-sc" class="tab-pane fade">
                <!-- Product Item -->
                <div class="autoplay">

                    @{
                        foreach (var item in (IEnumerable<FilmViewModel>)ViewData["FilmSapChieu"])
                        {
                            <div class="product-items">
                                <a href="javascript:;">
                                    <div class="icon-hot" style="display: block">
                                        <img src="~/Assets/images/home/item-hot.png" />
                                    </div>
                                    <div class="episode-all" style="display: block">
                                        <p>09</p>
                                        <p class="custom-p">12</p>
                                    </div>
                                    <img alt="@item.FilmName" src="~/Content/FilmPoster/@item.FilmPoster" style="width: 240px; height: 355px" />
                                </a>
                                <!-- Link Product -->
                                <div class="links-produce">
                                    <!-- zoom image-->
                                    <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="OzyGtNqFS50" title=""></a>
                                    <!-- Title product item-->
                                    <div class="title-product-item">
                                        <span>@item.FilmName</span>
                                        <br />
                                        <span style="font-size: 11px;">
                                            @item.FilmName
                                        </span>
                                    </div>
                                    <!-- Detail link-->
                                    <div class="detail-link"><a href="/phim/hinh-nhan-nc16/"><span>Chi tiết >></span></a></div>
                                </div>
                            </div>
                        }
                    }
                </div><!-- END - Product Item -->
                <!-- View All Detail tabs -->
            </div>

            <!-- SUẤT CHIẾU ĐẶC BIỆT -->
            <div id="movie-scdb" class="tab-pane fade ">
                <!-- Product Item -->
                <div class="autoplay">
                    @{
                        foreach (var item in (IEnumerable<FilmViewModel>)ViewData["FilmSuatChieuDacBiet"])
                        {
                            <div class="product-items">
                                <a href="javascript:;">
                                    <div class="icon-hot" style="display: block">
                                        <img src="~/Assets/images/home/item-hot.png" />
                                    </div>
                                    <div class="episode-all" style="display: block">
                                        <p>02</p>
                                        <p class="custom-p">12</p>
                                    </div>
                                    <img class=" bg-new-only" alt="@item.FilmName" src="~/Content/FilmPoster/@item.FilmPoster" style="width: 240px; height: 355px" />
                                </a>
                                <!-- Link Product -->
                                <div class="links-produce">
                                    <!-- zoom image-->
                                    <a class="product-zoom open-popup" href="javascript:void(0)" data-youtube-id="Sk5-eC0CZrY" title=""></a>
                                    <!-- Title product item-->
                                    <div class="title-product-item">
                                        <span>@item.FilmName</span>
                                        <br />
                                        <span style="font-size: 11px;">
                                            @item.FilmName
                                        </span>
                                    </div>
                                    <!-- Detail link-->
                                    <div class="detail-link"><a href="/phim/cho-em-gan-anh-them-chut-nua/"><span>Chi tiết >></span></a></div>
                                    <!-- tickets link-->
                                    <div class="tickets-link" style="display: block"><a href="/ShowTime.aspx?strName_Mv=CHO+EM+GAN+ANH+THEM+CHUT+NUA"><span><i class="icon-p fa fa-ticket"></i>Mua Vé</span></a></div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <!-- View All Detail tabs -->
            </div>
            <!-- XEM TẤT CẢ -->
            <div style="text-align: center;">
                <a class="text-xtc" href="/phim/" id="redirec_mv" style="font-size: 18px;">Xem tất cả <span style="font-size: 14px">>></span></a>
            </div>
        </div>
    </div><!-- END - Tab Product -->
</div><!-- END - ROW 2 -->
<!-- ROW 3 -->
<div class="row mega-content">
    <!-- Product Deals ưu đãi-->
    <div class="product-details clearfix" style="margin-left: 15px;">
        <div class="title-det clearfix">
            <div class="det-img">
                <img src="~/Assets/images/home/item-speacial.png" />
            </div>
            <div class="det-all">
                <p class="text-ud">Ưu Đãi</p>
                <a class="text-xtc" href="/uu-dai/">Xem tất cả >></a>
            </div>
        </div>
        <!-- Slide Special Offer -->
        <div class="special-offer">
            <div class="spec">

                @{
                    foreach (var item in (IEnumerable<PromotionViewModel>)ViewData["PromotionBanner"])
                    {
                        <div class='special-item'>
                            <a href='#'><img alt='@item.PromotionHeader' src='~/Content/Promotion/@item.PromotionPoster' style='width:320px;height:240px' /></a>
                            <a class='detail-spec' href='#'><span>Chi tiết >></span></a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div><!-- END - ROW 3 -->
<!-- ROW 4 -->
<div class="row mega-content">
    <!-- LEFT -->
    <div class="col-lg-9 events" style="margin-right: -16px;">
        <div class=" event-left">
            <div class="padd-event">
                <!-- Events title-->
                <div class="title-event clearfix">
                    <div class="event-img">
                        <img src="~/Assets/images/home/item-event.png" />
                    </div>
                    <div class="event-all">
                        <p class="text-sk">Sự Kiện</p>
                        <a class="text-xtc" href="/su-kien/">Xem tất cả >></a>
                    </div>
                </div>
                <!-- Events contents-->
                <div class="contents-event row">

                    @{
                        foreach (var item in (IEnumerable<EventTopicViewModel>)ViewData["EventTopic"])
                        {
                            <div class="col-lg-6">
                                <div class='event-item'>
                                    <div class='item-left'>
                                        <a href='#'><img alt='@item.EventTitle' src='https://cms.megagscinemas.vn//media/75294/1.jpg?width=134' style='width:134px;'></a>
                                    </div>
                                    <div class='item-right'>
                                        <a href='#'>
                                            <p>@item.EventTitle</p>
                                        </a><span>Địa điểm: Rạp MEGA GS Cinemas.<br /> Ngày 11/11/2016.</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div><!-- END - LEFT -->
    <!-- Right -->
    <div class="col-lg-3">
        <!-- Facebook -->
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmegagscinemas.vn&tabs=timeline&width=281&height=408&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1628628730768057" width="281" height="408" style="border:none;overflow:hidden; margin-top: -1px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <!-- End Facebook -->
    </div><!-- END - Right -->
</div><!-- END - ROW 4 -->