@model MegaCinemaWeb.Models.FilmViewModel

@{
    ViewBag.Title = ViewBag.FeatureTitle = "Thêm phim mới";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm("Create", "Film", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.FilmName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmDuration, htmlAttributes: new { @class = "control-label", @type = "number" })
        @Html.EditorFor(model => model.FilmDuration, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmFirstPremiered, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmFirstPremiered, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmLanguage, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmLanguage, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmCategories, "Thể loại phim", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmCategories, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmContent, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.FilmContent, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmFinishPremiered, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmFinishPremiered, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmCompanyRelease, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmCompanyRelease, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmRatingID, "Đánh giá phim", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.FilmRatingID, (SelectList)ViewBag.FilmRattingID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FilmTrailer, "Link trailer phim", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FilmTrailer, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload poster phim
        </label>
        <input id="file-upload" name="fileUpload" type="file"/>
        <label id="custome-file-upload"></label>
    </div>

    <div class="form-group">
        <div class="row">
            <input type="submit" value="Lưu" class="btn btn-primary pull-right" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/scripts/jquery.blockUI.js")"></script>
}