@model MegaCinemaWeb.Models.RoomFilmDetailViewModel

@{
    ViewBag.Title = ViewBag.FeatureTitle = "Thông tin phòng chiếu phim";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm("CreateRoomDetail","RoomFilm",FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, null, new { @class = "alert alert-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.RoomName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoomCinemaDescription, htmlAttributes: new { @class = "control-label" })
        @Html.TextAreaFor(model => model.RoomCinemaDescription, new { @class = "form-control", autocomplete = "off" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoomCinemaID,"Địa điểm rạp chiếu phim của phòng chiếu", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.RoomCinemaID, (SelectList)ViewBag.CinemaID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoomStatusID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.RoomStatusID, (SelectList)ViewBag.CinemaStatusID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Width, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VipTicket, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.VipTicket, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SimpleTicket, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.SimpleTicket, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <div class="Row">
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Tạo phòng chiếu</button>
        </div>
    </div>
}
