@using MegaCinemaWeb.Models
@model MegaCinemaWeb.Models.CinemaViewModel
@{
    ViewBag.Title = ViewBag.FeatureTitle = "Thay đổi thông tin rạp chiếp phim";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger"})


    <div class="form-group">
        @Html.LabelFor(x => x.CinemaPrefix, htmlAttributes: new { @class = "control-label", disabled="true" })
        @Html.EditorFor(x => x.CinemaPrefix, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @*@Html.LabelFor(x => x.CinemaID, htmlAttributes: new { @class = "control-label" })*@
        @Html.HiddenFor(x => x.CinemaID, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CinemaFullName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => x.CinemaFullName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CinemaAddress, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => x.CinemaAddress, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CinemaEmail, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => x.CinemaEmail, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.CinemaPhone, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(x => x.CinemaPhone, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CinemaManagerID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.CinemaManagerID, (SelectList)ViewBag.StaffID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CinemaStatus, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.CinemaStatus, (SelectList)ViewBag.CinemaStatus, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <div class="row">
            <input type="submit" value="Lưu" class="btn btn-primary pull-right" />
        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






