@model MegaCinemaWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng ký tài khoản";
    ViewBag.FeatureTitle = "Đăng ký";
    ViewBag.PageDirection = "Đăng nhập";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="col-md-5 col-lg-5">
    <img class="img-responsive img-login-custom" src="../../Content/images/img-login.png" />
</div>

<div class="col-md-7 col-lg-7 register-form-area">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, null, new { @class = "text-danger" })
        <div class="form-horizontal">
            <h3>Thông tin đăng nhập</h3>
            
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger text-alert-custom" })
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control", @placeHolder = "Email"}})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger text-alert-custom" })
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", @placeHolder = "Mật khẩu"} })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Đăng nhập" class="btn btn-default btn-register-custom" />
                </div>
            </div>
        </div>
    }

</div>