@model MegaCinemaWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.FeatureTitle = "Đăng nhập hệ thống";
}

<div class="col-md-5 col-lg-5">
    <img class="img-responsive img-login-custom" src="../../Content/images/img-login.png" />
</div>

<div class="col-md-7 col-lg-7 login-form-area">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Bạn đã là <span>Thành viên?</span></h4>
            <p>Vui lòng nhập email và mật khẩu của bạn để đăng nhập.</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger text-alert-custom" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",@placeHolder = "Email đăng nhập" }})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger text-alert-custom" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Password" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox col-md-offset-2">
                        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.RememberMe)<span> Remember me?</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-default btn-register-custom">Đăng nhập</button>
                    <div class="link-action-confirm">
                        <a href="#">Quên mật khẩu?</a><br/>
                        <a href="#" class="send-link">Gởi lại link kích hoạt</a>
                    </div>                    
                </div>
            </div>
        </div>
    }
</div>
