@using MegaCinemaWeb.Models;
@using MegaCinemaWeb.Infrastructure.Core;

@model PaginationSet<PromotionViewModel>

@{
    ViewBag.Title = ViewBag.FeatureTitle = "Danh sách các ưu đãi trong hệ thống";
    Layout = "~/Areas/AdminDashboard/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="row">
    @*<div class="col-md-8 col-lg-8">
        <input type="text" class="form-control" id="search-component" />
        <button type="submit" class="btn btn-primary search-button-component">Tìm kiếm</button>
    </div>*@
    <div class="col-md-4 col-lg-4">
        <button type="submit" class="btn btn-primary pull-left" onclick="window.location.href='./Create'">Thêm mới</button>
    </div>
</div><br/>

<div class="table-responsive">
    <table class="table table-bordered table-custom">
        <thead>
            <tr>
                <th>
                    Tên ưu đãi
                </th>
                <th>
                    Nội dung ưu đãi
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                <th>
                    Ảnh
                </th>
                <th width="100px">
                    Thao tác
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.PromotionHeader
                        </td>
                        <td>
                            @item.PromotionContent
                        </td>
                        <td>
                            @item.PromotionDateStart
                        </td>
                        <td>
                            @item.PromotionDateFinish
                        </td>
                        <td>
                            <img style="max-width:150px" src="@Url.Content("~/Content/Promotion/"+@item.PromotionPoster)" />
                        </td>
                        <td align="center">
                            @Html.ActionLink("Sửa", "Edit", "Promotion", new { id = item.PromotionID }, null)
                            |
                            @Html.ActionLink("Xóa", "Delete", "Promotion", new { id = item.PromotionID }, new { onclick = "return confirm('Bạn có chắc chắn xóa ưu đãi này không?');" })
                        </td>
                    </tr>
                }

                <div style="clear:both"></div>
            }
            else
            {
                <tr>Không có sản phẩm hiển thị</tr>
            }
        </tbody>
    </table>
</div>

@if (Model.TotalPages > 1)
{
    var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
    var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (Model.Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="?page=@(Model.Page - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (Model.Page == i)
                    {
                        <li class="page-item"><a class="page-link active" href="?page=@i" title="trang @i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i" title="trang @i">@i</a></li>
                    }
                }
            }
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
}
